html{
	font-family:sans-serif;
	
}
body{
	background: url('/img/back.jpg');
	background-color:none;
}
p{
	    padding: 10px;
}
.container{
	background-color: white;
}
.row{
	margin-bottom:20px;
}
.video{
	position:relative;
}
.video iframe{
	width:100%;
	min-height:500px;
}
.slide-left{
	    border: 2px #e9ecef solid;
    border-radius: 50px;
    border-right: none;
}
#rocket-action{
	position:relative;
	right:-3000px;
	overflow:hidden;
	background:#e9ecef;
}
#rocket-action-2{
	position:relative;
	left:-3000px;
	overflow:hidden;
	background:#ccccb6;
}
.rocket{
	transform:rotate(270deg);
	max-height:300px;
	max-width:150px;
	margin-left:20%;
}
.astro{
	margin-left:30%;
	max-height:300px;
	max-width:150px;
	-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);
filter: FlipH;
-ms-filter: "FlipH"; 
}
.back-video{
	background-color: #0e25128f;
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
}
.main{
	max-width: 1200px;
	margin:0 auto;
}
.post-content{
	font-size:10px;
}
.post-title{
	font-size:12px;
}
.font-icon{
/*font-family:icons;	*/
}
h1{
	font-size:50px;
	border-bottom: 1px solid #000;
}
.slider{
	padding-top:20px;
	max-width: 500px;
	margin:0 auto;
}
.owl-wrapper-outer {
	border: 1px solid #777;
	border-radius: 5px;
	overflow: hidden;
	background: white;
}

/* 1 квадратик карусели */
.carousel-element {
	/*padding: 30px;*/
	text-align: center;
	/*font-size: 300%;*/
	border-right: 1px solid #777;
}
.carousel-element img{
	width:100%;
	max-height:385px;
	height:100%;
	min-height:100px;
}
.carousel-element P{
	margin-bottom:0;
}
.owl-pagination {
	text-align: center; /* Выравниваем точки по-середине */
}
/* 1 Точка */
.owl-page {
	width: 10px;
	height: 10px;
	border: 1px solid #777;
	display: inline-block;
	background: white;
	margin: 10px;
	border-radius: 5px;
}
/* Активная точка */
.owl-page.active {
	background: #777;
}



/*CLOOCK*/
#clou_xs {position:relative;width:90%;height:60px;background: url() no-repeat} 
#clock {width:220px;height:60px;text-align:right;color:#000000;font-size:13px;} 
#RemainsFullDays {position:absolute;bottom:1px;left:0px;font-size: 2.0rem;color: #000;} 
#RemainsFullHours {position:absolute;bottom:1px;left:100px;font-size: 2.0rem;color:#000;} 
#RemainsMinutes {position:absolute;bottom:1px;left:200px;font-size: 2.0rem;color:#000;} 
#lastSec { position:absolute;bottom:1px;left:300px;font-size: 2.0rem;color:#000;font-weight:bold} 
#Rem { margin-left: 5px; font-size:11px;font-weight:bold;color:#000000;} 
#svoy {color:#2C79BF; font-size:10px;}

@media (max-width: 400px){
	.secWidth{
		display:none;
	}
#RemainsFullDays {left:0px;} 
#RemainsFullHours {left:88px;} 
#RemainsMinutes {left:165px;} 
#lastSec { left:250px;} 
}/*
.maps ymaps{
	width:100% !important;
}*/